@font-face {
    font-family:'Roboto', sans-serif;
    src: url('/font/Roboto-Regular.ttf') format('truetype');
}


.container {
width: 1200px;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
}

.link:hover {
   text-decoration: underline 5px solid #4BCAFF; 
}

h1 {
    padding-bottom: 40px;
}

h1 a {
font-size: 80px;  
color: #000000;
text-decoration: none;
}

.logo{
color:#4BCAFF ;
}

.nav {
display: flex;
background-color:#35444F;
justify-content: center;
align-items: center;
line-height: 72px;
}

.nav-list {
display: block;
color: #FFFFFF;
text-decoration: none;
font-size: 24px;
padding: 0 40px;
border-left: 1px solid #FFFFFF;
}

.nav-list-4 {
    border-right: 1px solid #FFFFFF;  
}

.nav-list:hover {
    background-color: #222F3A;
    cursor: pointer;
    text-decoration: underline 2px solid #4BCAFF;
}

.flex-container {
    margin: 50px 0px;
}
main {
    display: flex;
    justify-content: space-around;
}

.aside-container {
    display: block;
    width: 330px;
    height: 400px;
    border: 2px solid grey;
    margin: 0px 50px 0px 0px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 80px;
}

.list-item {
    width: 100%;
    display: block;
    font-size: 25px;
    color: #495863;
    text-decoration: none;
    padding-left: 50px;
}
.section-a:hover {
    cursor: pointer;
    width: 100%;
    background-color:  #DBDBDB;
}

.list-item:hover { 
    display: block;
    cursor: pointer;
    text-decoration: underline 3px solid #4BCAFF;
}



section {
    width: 900px;
}

.img {
    display: block;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    border: 2px solid grey;
}

.text {
    font-size: 18px;
    color: #2C2C2C;
    padding: 35px 0px;
}

.next_text {
    font-size: 18px;
    color: #2C2C2C;
}

.last-list {
    display: flex;
    background-color: #B4B7B9;
    width: 100%;
    height: 70px;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    padding-left: 40px;
}

.last-list-1 {
    font-size: 23px;
    text-decoration: none;
    color: #0C1927;
}

.last-list-1:hover {
    color: #3181A6;
    cursor: pointer;
   text-decoration: none;
   border-bottom:  5px solid #3181A6;
   padding-bottom: 10px;
   }

.last-list-2 {
    font-size: 23px;
    text-decoration: none;
    color: #0C1927;
    align-items: flex-end;
    padding-left: 200px;
}

.last-list-2:hover {
    color: #3181A6;
    cursor: pointer;
    text-decoration: underline 3px solid #3181A6;
    border-bottom:  5px solid #3181A6;
    padding-bottom: 10px;
}
