body {
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    background: url(/img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
   }

.container  {
    width: 1022px;
}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 1022px;
height: 53px;
padding: 46px 0px 20px 0px ;
}

.logo {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.left-part :hover  {
    cursor: pointer;
    color: #F26522;
}
.left-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-logo-house {
display: block;
width: 53px;
height: 57px;
}

h1 {
display: block;
width: 140px;
height: 30px;
margin: 0px 0px 0px 10px;
}

a {
    text-decoration: none;
}

.milan {
    width: 140px;
    font-size: 29px;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.holiday {
    width: 135px;
    font-size: 18px;
    color: #FFFFFF;
}

h4 { 
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.information {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 219px;
height: 60px;
}

.information :hover {
    cursor: pointer;
    color: #F26522;
}
.information h4 {
    box-sizing: border-box;
    text-align: end;
}

.email {
    padding-bottom: 19px;
}

.main container {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 10px;
    box-shadow: 1px 1px 5px #123 ;
}
.tours {
    position: relative;
    line-height: 0;
    display: flex;
    width: 1022px;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content:space-between;
    align-items: center;
}

.tours * {
    line-height: normal;
}

.tour-name {
    size: 18px;
    text-align: center;
    padding: 10px 0;
    padding: 20px 0 37px 0;
    transition: 0.3s linear;
}

.main container :hover .tour-name {
    color: #E46021;
}
.block-item {
    box-sizing: border-box;
    display: flex;
    border: 1px solid #B4A385;
}

.img-tour {
    width: 300px;
    height: 220px;
}

.footer-text a {
    font-size: 12px;
    color: #FFFFFF;
    width: 306px;
    text-align: center;
    padding: 50px 530px 15px 530px;
    text-decoration: none;
}
.hidden {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s linear;
    position: absolute;
    bottom: 0;
    background-color: #F26522;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 0 5px;
}

.main container :hover .hidden {
    height: 50px;
    padding: 5px;
}
.main container :hover .tour-name {
    color: #F26522;
}





