* {
padding: 0;
margin: 0;
}

body {
    width: 100%;
    max-width: 1280px;
    max-height: 1650px;
}

header {
    height: 78px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 95px;
    padding-top: 15px;
}

nav {
    width: 600;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}

ul li {
    float: left;
    padding-left: 72px;
}

ul li a{
    color: red;
    display: block;
    height: 50px;
    padding: 0 50px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

.main {
    text-align: center;
    color:#373737;
    background: white;
}

.img {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.content {
    font-size: 22px;
    line-height: 27px;
    min-width: 775px;
    padding-top: 49px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    max-width: 1150px;
    padding: 38px 68px 0px 68px;
}


.text_next {
    font-size: 16px;
    line-height: 26px;
    max-width: 1150px;
    padding: 28px 68px 66px 68px;
}

.button {

    background-color: #FF0000;
    color: white;
    width: 191px;
    height: 51px;
    padding: 18px 44px 17px 43px;
    margin: 0px 550px;
}
.text_rights {
    text-align: right;
    color: #373737;
    width: 462px;
    height: 39px;
    padding: 82px 105px 29px 713px;
}












