body {
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    background: url(/img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
   }

.container  {
    width: 1022px;
    margin: 0 auto;
}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 1022px;
height: 53px;
padding: 46px 0px 20px 0px ;
}

.logo {
display: none;
background-image: url(/img/logo3.svg);
position: relative;
background-repeat: no-repeat;
display: flex;
flex-wrap: wrap;
/*flex-direction: row;*/
justify-content: space-between;
align-items: center;
}

.img-logo-house {
    width: 53px;
    height: 57px;
}

.img-logo-house-orange {
    display: none;
}

.logo:hover .img-logo-house {
    display: none;
}

.logo:hover .img-logo-house-orange {
    color: #F26522;
    display: block;
}

.logo:hover .logo-text {
    color: #F26522;
}

.img-logo-house {
width: 53px;
height: 57px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.milan {
    width: 140px;
    font-size: 29px;
    padding-bottom: 5px;
}

.holiday {
    width: 135px;
    font-size: 18px;
}

h4 { 
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.information {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-end;
align-items: center;
width: 219px;
height: 60px;
}

.information :hover {
    cursor: pointer;
    color: #F26522;
}
.information {
    box-sizing: border-box;
}

.email {
    padding-bottom: 19px;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.telephone {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.main container {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 10px;
    box-shadow: 1px 1px 5px #123 ;
}
.tours {
    position: relative;
    line-height: 0;
    display: flex;
    width: 1022px;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content:space-between;
    align-items: center;
    
}

.tours * {
    line-height: normal;
}

.tour-name {
    size: 18px;
    text-align: center;
    padding: 10px 0;
    padding: 20px 0 37px 0;
    transition: 0.3s linear;
}


.img-tour {
    width: 300px;
    height: 220px;
}

.card {
   position: relative;
}
.hidden {
    width: 300px;
    height: 50px;
    position: absolute;
    overflow: hidden;
    transition: 0.5s linear;
    left:  0;
    right: 0;
    bottom: 0;
    background-color: #F26522;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 0 5px;
    opacity: 0;
}
.price-details { 
    display: flex;
    justify-content: space-between;
    
}
.from {
    font-size: 10px;
    padding-bottom: 8px;
    padding-left: 16px;
}
.price {
    font-size: 20px;
    padding-left: 16px;
    padding-bottom: 12px;
} 
.details  {
    font-size: 18px;
    padding-right: 37px;
    padding-bottom: 12px;
}

.tours a:hover .hidden {
    height: 50px;
    padding: 5px;
    transition: 0.5s linear;
    opacity: 1;
}
.tours a:hover .tour-name {
    color: #F26522;
}

.footer-text a {
    font-size: 12px;
    color: #FFFFFF;
    width: 306px;
    text-align: center;
    padding: 50px 530px 15px 530px;
    text-decoration: none;
}



