
.container-body {
    width: 1460px;
    margin: 0 auto;
    background: #171717;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 100px;
    font-family: 'Gilam';
}

.flex-container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1460px;
    padding-top: 36px;
}
.logo {
    width: 216px;
    size: 50px;
}

.button {
    width: 218px;
    height: 50px;
    background: #171717;
    border: 1px solid #E4B564;
  
}
.button a {
    size: 18px;
    color: #D7AB5F; 
    text-decoration: none;
}
.text-title {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 207px;
}

.text-title2 {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 40px 0px;
    width: 1180px;
}

.grid-container {
display: grid;
height: 970px;
width: 1460px;
grid-template-columns:repeat(6, 1fr);
grid-template-rows:repeat(2, 1fr);
grid-gap: 2em;
}

.grid-item {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 220px;
}
.grid-item1 {
    background-color:#634F2C ;
    grid-column: 1/3;
}

.grid-item2 {
    background-color:#B4A385 ;
    grid-column: 3/5;
}

.grid-item3 {
    background-color: #E4B564;
    grid-column: 5/7;

}

.grid-item4 { 
    background-color: #635A4A;
    grid-column: 1/4;
}

.grid-item5 {
    background-color: #B08C4D;
    grid-column: 4/7;
}

.container-second {
    width: 1460px;
}

.text-title-second {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 160px;
    padding-bottom: 95px;
}

.grid-container-center {
    display: grid;
    min-height: 900px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    column-gap: 2%;
       
    grid-template-areas: 
    "item1 item2 item3"
    "item1 item2 item3"
    "item1 item2 item3"
    "item1 item2 item6"
    "item4 item2 item6"
    "item4 item5 item6"
    "item4 item5 item7"
    "item4 item5 item7"
    "item4 item5 item7";
}

.grid-list {
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 114px;
    margin-bottom: 26px;
    border: 1px solid #0A0909;
}

.list-item1 {
    grid-area: item1;
    background-color: #0E0E0E;
}
.list-item2 {
    grid-area: item2;
    background-color: #242424;
}
.list-item3 {
    grid-area: item3;
    background-color: #1F1F1F;
}
.list-item4 {
    grid-area: item4;
    background-color: #1F1F1F;
}
.list-item5 {
    grid-area: item5;
    background-color: #E4B564;
    margin-bottom: 50px;
}
.list-item6 {
    grid-area: item6;
    background-color: #1F1F1F;
}
.list-item7 {
    grid-area: item7;
    background-color: #0A0909;
}

.container {
    width: 1460px;
    margin: 0 auto;
    background: #0E0E0E;
}

.flex-container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1460px;
    padding-top: 172px;
    padding-bottom: 70px;
       
}

.text-footer  { 
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.button2 {
    width: 218px;
    height: 35px;
    background: #171717;
    border: 1px solid #E4B564;
    margin-left: 600px;
  
}
.text-button {
 font-size: 18px;
 color: #D7AB5F; 
 text-decoration: none;
 text-align: center;
 padding-top: 20px;

 }

.flex-container {
    display: flex;
    width: 1460px;
    flex-wrap: wrap;
    flex-direction: row;
}

.block-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 476px;
    height: 370px;
    border: 1px solid #B4A385;
    position: relative;
}

/*.block-item:hover {
    cursor: pointer;
}*/
.item-1 {
    background-color: #634F2C;
}

.item-2 {
    background-color: #B4A385;
    display: flex;
    flex-direction: column;
}
 .item-3 {
    background-color: #E4B564;
 }
.item-4 {
    background-color: #635A4A;
}
.item-5 {
    background-color: #B08C4D;
   
}
.setl {
    color: #FFFFFF;
    /*text-align: center;*/
    font-size: 35px;
}

.item-6 {
    background-color: #634F2C;
}

